<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- jquery CDN-->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="/js/findPw.js"></script>
</head>
<body>

<h1> 비밀번호 찾기 페이지 </h1>
<div class="inputField">
    <label th:for="email">E-MAIL</label>
    <input type="email" id="email" name="email" class="formInput"
           placeholder="Email을 입력하세요">
    <button type="button" id="sendBtn" name="sendBtn">인증번호</button>
</div>
<div class="inputField">
    <label for="emailCode">E-MAIL 인증 코드</label>
    <input type="text" id="emailCode" class="formInput"
           placeholder="Email 인증코드를 입력하세요">
    <button type="button" name="confirmBtn" id="confirmBtn" onclick="confirmNumber()">이메일 인증</button>
</div>
<br>
<input type="hidden" id="Confirm" name="Confirm"  value="">
</body>
</html>