#loginWrap{
    margin:150px auto 200px auto;
    width:400px;
    font-size:30px;
}
.formData{
    width:100%;
    position:relative;
    border:1px solid #ccc;
    padding:50px;
    border-radius:10px;
}
.formTitle{
    font-weight:700;
    text-align:center;
    padding:30px 0;
    background:black;
    color:white;
    border-radius:10px;
    margin-bottom:30px;
}
.inputField{
    width:100%;
    margin-bottom:20px;
}
.inputField input{
    outline:none;
    border:0;
    border:1px solid #aaa;
    border-radius:10px;
    height:50px;  padding:5px 10px;
    font-size:27px;
    width:100%;
}
.loginBt button{
    border:0;
    background:#fff;
    font-size:32px;
    font-weight:700;
    width:100%;
    border:1px solid #aaa;
    border-radius:10px;
    padding:10px 0;
}
.loginBt button:hover{
    background:#aaa;
    color:#fff;
}

.forget{
    display:flex;
    justify-content:space-between;
    padding:20px 0;
}
.joinLink a{
    color:blue;
}